body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .card {
    position: relative;
    width: 280px;
    height: 280px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 390px;
    height: 390px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(40px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.1) scaleY(1.1);
  }
  
  .calculator-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 10px;
  }
  
  .calculator {
    text-align: center;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #ffffff;
  }
  
  .buttons {
    display: grid;
    margin-left: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .operator {
    background-color: #f0f0f0;
  }
  .operatoreg {
    color: #ffffff;
    background-color: #420546;
  }
  